* {
    margin: 0;
    padding: 0;
}

#parrafo1 {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

#parrafo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}