{% extends 'herencia.html' %}

{% block contenido %}
    <h3 style="color: crimson;">Lista De Productoras Encontradas</h3>

    <p style="color: blue;">Aqui Apareceran Los Resultados De Tu Busqueda De Productoras</p>

{% if productoras %}
  <h5 style="color: blue;">Resultados de búsqueda para "{{ query }}"</h5>
  <ul>
    {% for productora in productoras %}
      <li style="color: green;">{{ productora.nombre }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p style="color: red;">No se encontraron resultados para "{{ query }}"</p>
{% endif %}

{% endblock contenido %}