{% extends 'herencia.html' %}

{% block contenido %}
    <h3 style="color: crimson;">Lista De Peliculas Encontradas</h3>

    <p style="color: blue;">Aqui Apareceran Los Resultados De Tu Busqueda</p>

{% if peliculas %}
  <h5 style="color: blue;">Resultados de búsqueda para "{{ query }}"</h5>
  <ul>
    {% for pelicula in peliculas %}
      <li style="color: green;">{{ pelicula.nombre }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p style="color: red;">No se encontraron resultados para "{{ query }}"</p>
{% endif %}

{% endblock contenido %}